spacy==3.8.4
stanza==1.10.1
tagme==0.1.3
spacy_conll==4.0.1
nltk==3.9.1
pynif==0.3.1
protobuf==6.30.2
numpy==1.26.4
refined @ git+https://github.com/amazon-science/ReFinED@V1
radboud-el==0.0.1
pygtrie==2.5.0
fastcoref==2.1.6
lmdb==1.6.2
sentencepiece==0.2.0
transformers==4.43.4
gensim==4.3.3