:root {
    --cell-hover-color: #F9E29B;
    --cell-selected-color: #F6CF59;
}

html, input, select {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: DodgerBlue;
    margin: 0;
    padding: 5pt;
}

header h1 {
    margin: 0;
    padding: 5pt;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}

.content {
    padding-left: 10pt;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}

/* Make the table headers move down when scrolling so they are always visible */
table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
}

#benchmarks_table thead .sort_symbol {
    visibility: hidden;
    font-size: 0.8em;
}
#benchmarks_table thead .asc .sort_symbol {
    visibility: visible;
}
#benchmarks_table thead .desc .sort_symbol {
    visibility: visible;
}
#benchmarks_table tbody {
    cursor: pointer;
}
#benchmarks_table thead {
    cursor:pointer;
}
#benchmarks_table thead th:nth-child(1) {
    cursor: default;
}
#benchmarks_table tbody tr td:nth-child(1) {
    cursor: default;
}
#benchmarks_table tbody tr:nth-child(1) {
    cursor: default;
}
#benchmarks_table tbody td.hovered {
    background-color: var(--cell-hover-color);
}
#benchmarks_table tbody td.selected {
    background-color: var(--cell-selected-color);
}