:root {
    --row-hover-color: #E0E0E0;
    --row-selected-color: #D1D1D1;
    --cell-first-header-color: #999999;
    --cell-header-color: #BBBBBB;
    --cell-first-column-color: #BBBBBB;
    --cell-color: #EEEEEE;
    --cell-hover-color: #F9E29B;
    --cell-selected-color: #F6CF59;
    --annotation-tp-color: rgb(125,206,160);
    --annotation-tp-color-lowlight: rgba(125,206,160,0.3);
    --annotation-tp-color-dark: rgb(21,55,35);
    --annotation-fp-color: rgb(241,148,138);
    --annotation-fp-color-lowlight: rgba(241,148,138,0.3);
    --annotation-fp-color-dark: rgb(69,25,21);
    --annotation-unknown-color: rgb(138,220,241);
    --annotation-unknown-color-lowlight: rgba(138,220,241,0.3);
    --annotation-optional-color: rgb(211,211,211);
    --annotation-optional-color-lowlight: rgba(211,211,211,0.3);
    --annotation-border-size: 5px;
}

html, input, select {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #004A99;
    color: white;
    margin: 0;
    padding: 5pt;
}

header h1 {
    margin: 0;
    padding: 5pt;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}

.content {
    padding: 10px;
}

table, td, th {
    padding: 3px;
}

a {
    color: black;
}

.tooltip, .annotation {
    position: relative;
    display: inline;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: lightgrey;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid white;
    line-height: 120%;

    /* Position of the tooltip text */
    position: absolute;
    z-index: 20;
    bottom: 100%;
    left: 0;
}

td .tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Benchmark selector*/
#benchmark_selection {
    padding-top: 1em;
    padding-bottom: 2em;
}

/* Evaluation overview area */
#evaluation_tables {
    padding-top: 1em;
}
#evaluation_tables table {
    cursor: default;
    border: none;
}
#evaluation_tables table thead tr:nth-child(2) {
    cursor: pointer;
}
#evaluation_tables table th {
    background-color: var(--cell-header-color);
}
#evaluation_tables table thead tr:nth-child(1) th {
    background-color: var(--cell-first-header-color);
}
#evaluation_tables table td {
    width: 5em;
    background-color: var(--cell-color);
}
#evaluation_tables table tbody tr {
    border: 2px solid black;
    text-align: right;
    cursor: pointer;
}
#evaluation_tables table tbody tr td:nth-child(1) {
    text-align: left;
}
#evaluation_tables table tbody tr:hover td {
    background-color: var(--row-hover-color);
}
#evaluation_tables table tbody tr.selected td {
    background-color: var(--row-selected-color);
}
/* Sorting indicator */
#evaluation_tables table thead .sort_symbol {
    visibility: hidden;
    font-size: 0.8em;
}
#evaluation_tables table thead .asc .sort_symbol {
    visibility: visible;
}
#evaluation_tables table thead .desc .sort_symbol {
    visibility: visible;
}
#evaluation_tables table tbody tr td.hovered {
    background-color: var(--cell-hover-color);
}
#evaluation_tables table tbody tr td.selected {
    background-color: var(--cell-selected-color);
}

/* Show the tooltip text when you mouse over a table header cell that comes with a description */
#evaluation_tables table thead .tooltip .tooltiptext {
    width: 7em;
    bottom: 140%;
    left: 0%;
    border: 2px solid white;
    font-size: 0.8em;
    font-weight: 300;
}

/* Show the tooltip text when you mouse over the tooltip container */
#evaluation_tables table thead .tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Cell tooltip for precision / recall / F1 cells */
#evaluation_tables td .tooltiptext {
    width: 4em;
    bottom: 140%;
    left: -20%;
    border: 2px solid white;
}

/* Make evaluation table horizontally scrollable*/
#evaluation {
    width: 100%;
    overflow: auto;
}
/* Make the first column of the evaluation table sticky when scrolling */
#evaluation table th:first-child,
#evaluation table td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 10;
}
#evaluation table td:first-child {
    background: var(--cell-first-column-color);
}

/* Table cell for copying latex code */
.produce_latex {
    cursor: pointer;
    text-align: center;
    color: transparent
}
.produce_latex:hover {
    background-color: var(--row-hover-color);
    color: white;
}

/* Copy-notification paragraph and text area with LaTeX code for table (not shown by default) */
div.latex {
    display: none;
}
div.latex p {
    color: darkred;
    font-site: 120%;
}
div.latex textarea {
    display: none;
}

/* Class for warnings */
.warning {
    color: red;
    font-site: 120%;
}

/* Checkboxes for showing / hiding table columns */
.checkboxes label {
    padding-right: 1em;
}

.checkboxes {
    margin-bottom: 1em;
}

/* Area containing the results per article */
#article-results {
    padding-top: 2em;
    padding-bottom: 3em;
    overflow: hidden;
}

/* ----------------------------------------- */
/* Begin prediction overview */

#prediction_overview {
    display: none;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;;
}

#prediction_overview td,
#prediction_overview th {
    width: 50%;
}

#prediction_overview td {
    vertical-align: top;
    line-height: 200%;
}

#prediction_overview [class*="compare_"] {
    display: none;
}

/* Make the table headers move down when scrolling so they are always visible */
#prediction_overview th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--cell-header-color);
}

#prediction_overview hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em 0em;
    padding: 0;
}

#prediction_overview tbody td {
    padding-top: 2em;
    padding-bottom: 2em;
}

/* ----------------------------------------- */
/* Begin annotations */

.annotation {
    /* Make sure the background extends only up to the border start.
    Otherwise, if the border color is opaque and it overlaps with the background color, the border color is changed */
    background-clip: content-box;
    -webkit-background-clip: content-box;
    padding-bottom: 2px;
}
/* Set annotation colors according to annotation type */
.annotation.pred.tp {
    background-color: var(--annotation-tp-color);
}
.annotation.gt.tp {
    border-bottom: var(--annotation-border-size) solid var(--annotation-tp-color);
}
.annotation.gt.tp.lowlight {
    border-bottom-color: var(--annotation-tp-color-lowlight);
}
.annotation.pred.tp.lowlight {
    background-color: var(--annotation-tp-color-lowlight);
}
.annotation.fp {
    background-color: var(--annotation-fp-color);
}
.annotation.fp.lowlight {
    background-color: var(--annotation-fp-color-lowlight);
}
.annotation.fn {
    border-bottom: var(--annotation-border-size) solid var(--annotation-fp-color);
}
.annotation.fn.lowlight {
    border-bottom-color: var(--annotation-fp-color-lowlight);
}
.annotation.gt.unknown {
    border-bottom: var(--annotation-border-size) solid var(--annotation-unknown-color);
}
.annotation.gt.unknown.lowlight {
    border-bottom-color: var(--annotation-unknown-color-lowlight);
}
.annotation.gt.optional {
    border-bottom: var(--annotation-border-size) solid var(--annotation-optional-color);
}
.annotation.gt.optional.lowlight {
    border-bottom-color: var(--annotation-optional-color-lowlight);
}
.annotation.pred.unevaluated {
    background-color: var(--annotation-optional-color);
}
.annotation.pred.unevaluated.lowlight {
    background-color: var(--annotation-optional-color-lowlight);
}

/* ----------------------------------------- */
/* Begin annotation tooltips */

/* Show the tooltip text when you mouse over the tooltip container */
#prediction_overview .annotation:hover .tooltiptext {
    visibility: visible;
}

.annotation .tooltiptext {
    visibility: hidden;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid white;
    line-height: 120%;
    background-color: white;
    white-space: nowrap;
    border-color: lightgrey;

    /* Position of the tooltip text.
    Don't set position absolute yet because tooltips for annotations at the right table edge would stretch
    the inner window. Using display: none to prevent this does not work, because once display is set to a
    non-none value, some mentions before punctuation somehow get slightly wider on mouseover. */
    position: absolute;
    left: 0;
    right: auto;
    z-index: 20;
    bottom: 100%;
}

/* Show some tooltips below the mention to avoid overlap */
.annotation .tooltiptext.below {
    /* Set top edge of element (height of the parent element plus border width) below top edge of parent */
    top: calc(100% + var(--annotation-border-size));
    bottom: auto;
}

/* Set Tooltip border color according to case type */
.annotation .tooltiptext.tp {
    border-color: var(--annotation-tp-color);
}
.annotation .tooltiptext.fn,
.annotation .tooltiptext.fp {
    border-color: var(--annotation-fp-color);
}

.annotation .tooltiptext .header {
    display: flex;
    justify-content: space-between; /* Put left child at the left end and right child at the right end */
    position: relative;
}
.annotation .tooltiptext .header .right {
    margin-left: 1em;
}
.annotation .tooltiptext .body {
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 80%;
}
.annotation .tooltiptext .footer {
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    white-space: normal;
}

.annotation .tooltiptext .error_category_tag {
    display: inline-block;  /* To allow setting a margin */
    border-radius: 10px;
    font-size: 80%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    white-space: nowrap;  /* Do not allow a line break within a tag */
}
.annotation .tooltiptext.fp .error_category_tag,
.annotation .tooltiptext.fn .error_category_tag {
    color: var(--annotation-fp-color-dark);
    background-color: var(--annotation-fp-color);
}
.annotation .tooltiptext.tp .error_category_tag {
    color: var(----annotation-tp-color-dark);
    background-color: var(--annotation-tp-color);
}

.annotation .tooltiptext .case_type_box {
    display: inline;
    border-radius: 30%;
    background-color: lightgrey;
    color: white;
    margin-left: 2px;
    padding-left: 3px;
    padding-right: 3px;
}
/* Set case type box color */
.annotation .tooltiptext .case_type_box.tp {
    background-color: var(--annotation-tp-color);
}
.annotation .tooltiptext .case_type_box.fp,
.annotation .tooltiptext .case_type_box.fn {
    background-color: var(--annotation-fp-color);
}

/* ----------------------------------------- */
/* Begin annotation explanation */

#over-table-row {
    display: flex;
    justify-content: space-between; /* Put left child at the left end and right child at the right end */
    margin-bottom: 1em;
}

#over-table-row #annotation_explanation:hover {
    background: var(--cell-hover-color);
}

#select_article {
    display: inline;
    padding: 5px 0px;
    margin: 0;
}

#article_link {
    margin-left: 1em;
}

#annotation_explanation {
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    background: var(--row-hover-color);
    position: relative;
    margin-right: 1em;
}

#annotation_explanation .tooltiptext {
    visibility: hidden;
    background-color: white;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid lightgrey;
    line-height: 140%;
    min-width: 40em;

    /* Position of the tooltip text */
    position: absolute;
    z-index: 20;
    bottom: 100%;
    right: 0%;
}

#annotation_explanation:hover .tooltiptext {
    visibility: visible;
}

#annotation_explanation .tooltiptext table,
#annotation_explanation .tooltiptext table td {
    border: none;
    padding: 0.5em;
}

#annotation_explanation .tooltiptext table td:nth-child(1) {
    white-space: nowrap;
}

#annotation_explanation .tooltiptext table tr:nth-child(1) td {
    line-height: 160%;
}

#loading {
    background: transparent url('spinner_50px.gif') center no-repeat;
    height: 50px;
    width: 50px;
    left: 50%;
    margin: auto;
    visibility: hidden;
}

#loading.show {
    visibility: visible;
}