:root {
    --row-hover-color: #e1e0e0;
    --row-selected-color: #C8C7C7;
}

html, input, select {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: DodgerBlue;
    margin: 0;
    padding: 5pt;
}

header h1 {
    margin: 0;
    padding: 5pt;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}

.content {
    padding-left: 10pt;
}

.column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 5pt;
    border-style: solid;
    border-width: 1px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}

.casesTable {
    width: 100%;
}

a {
    color: black;
}

.tooltip {
    position: relative;
    display: inline;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: lightgrey;
    text-align: left;
    padding: 5px;
    border-radius: 6px;

    /* Position of the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Evaluation overview area */
#evaluation table tr {
    cursor: pointer;
}
#evaluation table tbody tr {
    border: 2px solid black;
    text-align: right;
}
#evaluation table td {
    width: 5em;
}
#evaluation table td:nth-child(1) {
    width: 30em;
}
#evaluation table tbody tr td:nth-child(1) {
    text-align: left;
}
#evaluation table tbody tr:hover {
    background-color: var(--row-hover-color);
    border: 2px solid white;
}
#evaluation table tbody tr.selected {
    background-color: var(--row-selected-color);
}

/* Checkboxes for showing / hiding table columns */
#checkboxes label {
    padding-right: 1em;
}

/* Area containing the results per article */
#article-results {
    padding-top: 2em;
}

/* Copy-notification paragraph and text area with LaTeX code for table (not shown by default) */
div.latex {
    display: none;
}
div.latex p {
    color: darkred;
    font-site: 120%;
}
div.latex textarea {
    display: none;
}
