:root {
    --row-hover-color: #E0E0E0;
    --row-selected-color: #D1D1D1;
    --cell-header-color: #999999;
    --cell-first-column-color: #BBBBBB;
    --cell-color: #EEEEEE;
    --cell-hover-color: #F9E29B;
    --cell-selected-color: #F6CF59;
    --annotation-tp-color: rgb(125,206,160);
    --annotation-tp-color-lowlight: rgba(125,206,160,0.3);
    --annotation-tp-color-dark: rgb(21,55,35);
    --annotation-fp-color: rgb(241,148,138);
    --annotation-fp-color-lowlight: rgba(241,148,138,0.3);
    --annotation-fp-color-dark: rgb(69,25,21);
    --annotation-unknown-color: rgb(138,220,241);
    --annotation-unknown-color-lowlight: rgba(138,220,241,0.3);
    --annotation-optional-color: rgb(211,211,211);
    --annotation-optional-color-lowlight: rgba(211,211,211,0.3);
    --annotation-border-size: 5px;
}

html, input, select {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #004A99;
    color: white;
    margin: 0;
    padding: 5pt;
}

header h1 {
    margin: 0;
    padding: 5pt;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.content_box {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1em 2em;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
}

td, th {
    padding: 3px;
}

a {
    color: black;
}

/* Class for warnings */
.warning {
    color: red;
    font-site: 120%;
}

.nonbold {
    font-weight: 300;
}

/* Checkbox labels */
label {
    padding-right: 1em;
    padding-left: 2px;
}

/* Checkboxes for showing / hiding table columns */
.checkboxes {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

#checkbox_table td:first-child {
    white-space: nowrap;
    vertical-align: top;
    padding-right: 1em;
}

.tooltip,
.annotation {
    position: relative;
    display: inline;
}

#top_scrollbar_wrapper {
    width: 100%;
    overflow-x: auto;
    height: 20px;
    margin: 0;
}

#top_scrollbar {
    height: 20px;
}

#top_row_container {
    display: flex;
    justify-content: space-between; /* Put left child at the left end and right child at the right end */
}

/* ----------------------------------------- */
/* Begin generate URL button  */

#generate_url_container {
    display: inline;
}

#generate_url {
    position: relative;
}

#generate_url .tooltiptext {
    visibility: hidden;
    max-width: 50em;
    background-color: white;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid lightgrey;
    font-size: 90%;
    overflow-wrap: break-word;  /* Otherwise an unbreakable text can go outside of its container */
    cursor: default;

    /* Position of the tooltip text */
    position: absolute;
    z-index: 20;
    top: 100%;
    right: 0%;
}

#generate_url:hover .tooltiptext {
    visibility: visible;
}

/* ----------------------------------------- */
/* Begin evaluation results table  */

/* Make evaluation table scrollable */
#evaluation_table_wrapper {
    max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Make the first column of the evaluation table sticky when scrolling */
#evaluation_table_wrapper table th:first-child,
#evaluation_table_wrapper table td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 10;
    border-right: 1px solid white;
}

#evaluation_table_wrapper table {
    font-size: 95%;
}

#evaluation_table_wrapper td,
#evaluation_table_wrapper th {
    cursor: default;
    border: 1px solid white;
    padding-top: 4px;
    padding-bottom: 4px;
}
#evaluation_table_wrapper thead tr:nth-child(1) {
    text-align: center;
}
#evaluation_table_wrapper thead tr:nth-child(2) {
    cursor: pointer;
}
#evaluation_table_wrapper th {
    background-color: var(--cell-header-color);
}
#evaluation_table_wrapper td {
    width: 5em;
    background-color: var(--cell-color);
}
#evaluation_table_wrapper tbody tr {
    text-align: right;
    cursor: pointer;
}
#evaluation_table_wrapper td:first-child {
    text-align: left;
    white-space: nowrap;
    background: var(--cell-first-column-color);
}

/* Handle display of hovered and clicked rows and cells */
#evaluation_table_wrapper tbody tr:hover td {
    background-color: var(--row-hover-color);
}
#evaluation_table_wrapper tbody tr.selected td {
    background-color: var(--row-selected-color);
}
#evaluation_table_wrapper tbody tr td.hovered {
    background-color: var(--cell-hover-color);
}
#evaluation_table_wrapper tbody tr td.selected {
    background-color: var(--cell-selected-color);
}

#table_loading {
    background: transparent url('spinner_50px.gif') center no-repeat;
    height: 50px;
    width: 50px;
    left: 50%;
    margin: auto;
    display: none;
}
#table_loading.show {
    display: block;
}

/* ----------------------------------------- */
/* Begin table tooltips */

/* Tooltip text */
table .tooltip .tooltiptext {
    visibility: hidden;
    background-color: white;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid lightgrey;
    line-height: 120%;
    z-index: 30;

    /* Position of the tooltip. Left and top are set dynamically because due to
    overflow != visible in the containing div the position of the tooltips must
    be fixed instead of absolute so they are not cut off */
    position: fixed;
    right: auto;
    bottom: auto;
}

/* Show the tooltip text when you mouse over the tooltip container */
table .tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Show the tooltip text when you mouse over a table header cell that comes with a description */
#evaluation_table_wrapper th .tooltiptext {
    max-width: 20em;
    font-size: 0.8em;
    font-weight: 300;
}

/* Cell tooltip for precision / recall / F1 cells */
#evaluation_table_wrapper td .tooltiptext {
    width: 5em;
}

/* ----------------------------------------- */
/* Begin latex */

/* Table cell for copying latex code */
#evaluation_table_wrapper .produce_latex {
    cursor: pointer;
    text-align: center;
    color: transparent
}
#evaluation_table_wrapper .produce_latex:hover {
    color: white;
}

/* Copy-notification paragraph and text area with LaTeX code for table (not shown by default) */
div.latex {
    display: none;
}
div.latex p {
    color: darkred;
    font-site: 120%;
}
div.latex textarea {
    display: none;
}

/* ----------------------------------------- */
/* Begin article results */

# article_results {
    padding-top: 2em;
}

#loading {
    background: transparent url('spinner_50px.gif') center no-repeat;
    height: 50px;
    width: 50px;
    left: 50%;
    margin: auto;
    visibility: hidden;
}

#loading.show {
    visibility: visible;
}

#over-table-row {
    display: flex;
    justify-content: space-between; /* Put left child at the left end and right child at the right end */
}

#select_article {
    display: inline;
    padding: 5px 0px;
    margin: 0;
}

#article_link {
    margin-left: 1em;
}

/* ----------------------------------------- */
/* Begin annotation explanation */

#annotation_explanation {
    position: relative;
}

#annotation_explanation .tooltiptext {
    visibility: hidden;
    background-color: white;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid lightgrey;
    line-height: 140%;
    min-width: 40em;

    /* Position of the tooltip text */
    position: absolute;
    z-index: 20;
    bottom: 100%;
    right: 0%;
}

#annotation_explanation:hover .tooltiptext {
    visibility: visible;
}

#annotation_explanation .tooltiptext table,
#annotation_explanation .tooltiptext table td {
    border: none;
    padding: 0.5em;
}

#annotation_explanation .tooltiptext table td:nth-child(1) {
    white-space: nowrap;
}

#annotation_explanation .tooltiptext table tr:nth-child(1) td {
    line-height: 160%;
}

/* ----------------------------------------- */
/* Begin prediction overview */

/* Area containing the results per article */
#prediction_overview {
    display: none;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
    padding-top: 3em;
    padding-bottom: 4em;
}

#prediction_overview td,
#prediction_overview th {
    width: 50%;
    border: 1px solid #aaa;
}

#prediction_overview td {
    vertical-align: top;
    line-height: 220%;
    padding-top: 3em;
    padding-bottom: 3em;
}

#prediction_overview [class*="compare_"] {
    display: none;
}

/* Make the table headers move down when scrolling so they are always visible */
#prediction_overview th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--cell-header-color);
}

#prediction_overview hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em 0em;
    padding: 0;
}

/* ----------------------------------------- */
/* Begin annotations */

.annotation {
    /* Make sure the background extends only up to the border start.
    Otherwise, if the border color is opaque and it overlaps with the background color, the border color is changed */
    background-clip: content-box;
    -webkit-background-clip: content-box;
    padding-bottom: 2px;
}
/* Set annotation colors according to annotation type */
.annotation.pred.tp {
    background-color: var(--annotation-tp-color);
}
.annotation.gt.tp {
    border-bottom: var(--annotation-border-size) solid var(--annotation-tp-color);
}
.annotation.gt.tp.lowlight {
    border-bottom-color: var(--annotation-tp-color-lowlight);
}
.annotation.pred.tp.lowlight {
    background-color: var(--annotation-tp-color-lowlight);
}
.annotation.fp {
    background-color: var(--annotation-fp-color);
}
.annotation.fp.lowlight {
    background-color: var(--annotation-fp-color-lowlight);
}
.annotation.fn {
    border-bottom: var(--annotation-border-size) solid var(--annotation-fp-color);
}
.annotation.fn.lowlight {
    border-bottom-color: var(--annotation-fp-color-lowlight);
}
.annotation.gt.unknown {
    border-bottom: var(--annotation-border-size) solid var(--annotation-unknown-color);
}
.annotation.gt.unknown.lowlight {
    border-bottom-color: var(--annotation-unknown-color-lowlight);
}
.annotation.gt.optional {
    border-bottom: var(--annotation-border-size) solid var(--annotation-optional-color);
}
.annotation.gt.optional.lowlight {
    border-bottom-color: var(--annotation-optional-color-lowlight);
}
.annotation.pred.unevaluated {
    background-color: var(--annotation-optional-color);
}
.annotation.pred.unevaluated.lowlight {
    background-color: var(--annotation-optional-color-lowlight);
}

.annotation.gt.selected {
    border-bottom-color: var(--cell-selected-color);
}
.annotation.pred.selected {
    background-color: var(--cell-selected-color);
}

/* ----------------------------------------- */
/* Begin annotation tooltips */

/* Show the tooltip text when you mouse over the tooltip container */
#prediction_overview .annotation:hover .tooltiptext {
    visibility: visible;
}

.annotation .tooltiptext {
    visibility: hidden;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    border: 3px solid white;
    line-height: 120%;
    background-color: white;
    white-space: nowrap;
    border-color: lightgrey;

    /* Position of the tooltip text.
    Don't set position absolute yet because tooltips for annotations at the right table edge would stretch
    the inner window. Using display: none to prevent this does not work, because once display is set to a
    non-none value, some mentions before punctuation somehow get slightly wider on mouseover. */
    position: absolute;
    left: 0;
    right: auto;
    z-index: 20;
    bottom: 100%;
}

/* Show some tooltips below the mention to avoid overlap */
.annotation .tooltiptext.below {
    /* Set top edge of element (height of the parent element plus border width) below top edge of parent */
    top: calc(100% + var(--annotation-border-size));
    bottom: auto;
}

/* Set Tooltip border color according to case type */
.annotation .tooltiptext.tp {
    border-color: var(--annotation-tp-color);
}
.annotation .tooltiptext.fn,
.annotation .tooltiptext.fp {
    border-color: var(--annotation-fp-color);
}

.annotation .tooltiptext .header {
    display: flex;
    justify-content: space-between; /* Put left child at the left end and right child at the right end */
    position: relative;
}
.annotation .tooltiptext .header .right {
    margin-left: 1em;
}
.annotation .tooltiptext .body {
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 80%;
}
.annotation .tooltiptext .footer {
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    white-space: normal;
}

.annotation .tooltiptext .error_category_tag {
    display: inline-block;  /* To allow setting a margin */
    border-radius: 10px;
    font-size: 80%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    white-space: nowrap;  /* Do not allow a line break within a tag */
}
.annotation .tooltiptext.fp .error_category_tag,
.annotation .tooltiptext.fn .error_category_tag {
    color: var(--annotation-fp-color-dark);
    background-color: var(--annotation-fp-color);
}
.annotation .tooltiptext.tp .error_category_tag {
    color: var(----annotation-tp-color-dark);
    background-color: var(--annotation-tp-color);
}

.annotation .tooltiptext .case_type_box {
    display: inline;
    border-radius: 30%;
    background-color: lightgrey;
    color: white;
    margin-left: 2px;
    padding-left: 3px;
    padding-right: 3px;
}
/* Set case type box color */
.annotation .tooltiptext .case_type_box.tp {
    background-color: var(--annotation-tp-color);
}
.annotation .tooltiptext .case_type_box.fp,
.annotation .tooltiptext .case_type_box.fn {
    background-color: var(--annotation-fp-color);
}

/* ----------------------------------------- */
/* Begin bootstrap style buttons

Code is an excerpt of bootstrap.css.
A bootstrap.css file is not included because even when customizing bootstrap
such that it only includes css for buttons here
https://getbootstrap.com/docs/3.4/customize/#less
The WebApp design is destroyed, in particular the table.
*/

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn:hover{
    color: #333333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}
.btn-default:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover{
    color: #333333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-default .badge {
    color: #ffffff;
    background-color: #333333;
}
